<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Order System Mobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>971DBFB520439B9C0035F321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>971DBFCC20439B9D0035F321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>971DBFD720439B9D0035F321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
